# fly.toml app configuration file generated for course-companion-web on 2026-02-09T15:34:47+05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'course-companion-web'
primary_region = 'iad'

[build]
  dockerfile = 'Dockerfile.fly'

[env]
  NEXT_PUBLIC_API_URL = 'https://course-companion-fte.fly.dev'
  NODE_ENV = 'production'
  PORT = '3000'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

  [http_service.concurrency]
    type = 'requests'
    hard_limit = 250
    soft_limit = 200

  [[http_service.checks]]
    interval = '30s'
    timeout = '5s'
    grace_period = '10s'
    method = 'GET'
    path = '/'

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 512
